.mail-dets-list-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.mail-dets-list {
    padding: 20px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid #ebe8e8;
    background: rgba(242, 245, 245, 0.5);
    display: flex;
}

.mail-dets-list:hover {
    z-index: 9 !important;
    background: rgba(242,245,245,0.8);   
    box-shadow: 3px 3px 5px 0px rgba(206, 209, 209, 0.692);
}

.unread-mail-body {
    font-weight: bold;
    font-size: 15px;
    background: rgba(255,255,255,0.9);
}

.mail-subject {
    flex: 1;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-body {
    padding-left: 20px;
    flex: 5;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-time {
    float: right;
    padding-right: 25px;
    flex: 1;
}